#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .wrapperMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 11% 25px;
}
#main .wrapperMain #right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* background-color: #fff; */
}

#main .wrapperMain #right h3 {
  font-family: "OpenSans";
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

#main .wrapperMain #right p {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 20px;
}

#main .wrapperMain #right #button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .wrapperMain #right #button .button {
  padding: 20px 30px;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
}
#main .wrapperMain #right #button .google {
  margin-left: 0px;
}

#main .wrapperMain #right .form {
  /* background-color: #fff; */
  width: 440px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

#main .wrapperMain #right .form h4 {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

#main .wrapperMain #right .form input {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 20px 18px;
  border-radius: 73px;
  border: none;
}

#main .wrapperMain #right .form input:hover {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  padding: 20px 18px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3f48fa;
}

#main .wrapperMain #left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#main .wrapperMain #left .box img {
  width: 100%;
  /* height: ; */
  display: block;
}
