#SlideBar-page {
  background-color: #242424;
  color: #fff;
  width: 80px;
  overflow-x: hidden;
  transition: width 0.4s;
  border-right: 1px solid rgba(255, 166, 0, 0.3);

  .wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 20px;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      font-weight: 300;
      transition: all 0.4s;

      span {
        transition: all 0.5s;
      }

      &:hover {
        span {
          font-size: 40px;
          color: #ffa500;
        }
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      padding: 0;

      li {
        margin: 20px;
        transition: margin 0.5s;

        button {
          border-radius: 50px;
          width: 100%;
          font-size: 12px;
          transition: all 0.3s;
          background-color: #303030;
          color: #fff;
          border: none;
          padding: 10px;

          &:hover {
            background-color: #ffa500;
            padding: 15px 35px;
            border-radius: 10px;
          }
        }
      }
    }

    .login {
      margin-top: auto;
      padding: 20px;
    }
  }

  &:hover {
    width: 200px;

    h1 {
      text-align: center;
      margin: 20px;
      font-family: "OpenSans", sans-serif;
      font-size: 30px;
      font-weight: bold;
    }

    ul {
      padding-left: 10px;

      li {
        margin: 20px;

        button {
          font-size: 15px;
          border-radius: 10px;
        }
      }
    }
  }
}
